<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/jpeg" th:href="@{/img/ico.jpeg}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Material Dashboard by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link th:href="@{/css/material-dashboard.css(v=2.1.0)}" rel="stylesheet"/>
</head>

<body class="dark-edition">
  <div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="black">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a class="simple-text logo-normal">
          VAG Logs Viewer
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/user/home">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/user/profile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/user/logs">
              <i class="material-icons">content_paste</i>
              <p>Uploaded logs</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="templates/typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="templates/icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="templates/map.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="templates/notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="templates/rtl.html">
              <i class="material-icons">language</i>
              <p>RTL Support</p>
            </a>
          </li>
          <li class="nav-item active-pro ">
            <a class="nav-link" href="templates/upgrade.html">
              <i class="material-icons">unarchive</i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-background" th:style="'background-image:url(' + @{/img/sidebar-1.jpg} + ');'"></div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
            <h1 th:text="Hi + ' ' + ${userName} + '!'" style="text-align: center; color: #8b92a9"></h1>
            <hr>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Add new Log</h4>
<!--                  <p class="card-category">Upload new Log to view it</p>-->
                </div>
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data" action="/user/upload">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="bmd-label-floating">File input</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <input type="file" name="file" accept=".csv,.CSV" class="input-group"/>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right">
                      Upload
                      <div class="ripple-container"></div>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Last added Log</h4>
<!--                  <p class="card-category"> Here is a subtitle for this table</p>-->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" >
                      <thead class="text-primary-table" style="text-align: center">
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >ID</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                          <span th:case="*" >File name</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Uploaded Date</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Actions</span>
                      </th>
                      </thead>
                      <tbody th:switch="${numberOfUserFiles}">
                      <tr th:case="'0'">
                        <td th:switch="${numberOfUserFiles}">
                          <h4 th:case="'0'">No uploaded logs!</h4>
                        <td>
                      </tr>
                      <tr th:case="*" style="text-align: center">
                        <td th:switch="${numberOfUserFiles}">
                          <h4 th:case="'0'"></h4>
                          <span th:case="*" th:text="${numberOfUserFiles}" ></span>
                        </td>
                        <td th:switch="${numberOfUserFiles}">
                          <span th:case="'0'"></span>
                          <span th:case="*" th:text="${userLastFile.getFileName()}" ></span>
                        </td>
                        <td th:switch="${numberOfUserFiles}">
                          <span th:case="'0'"></span>
                          <span th:case="*" th:text="${userLastFile.getUploadedDate()} + '  ' + ${userLastFile.getUploadedTime()}" ></span>
                        </td>
                        <td th:switch="${numberOfUserFiles}">
                          <span th:case="'0'"></span>
                          <span th:case="*">
                            <a th:href="@{/user/logs/view(id=${userLastFile.getId()})}" class="btn btn-success">View</a>
                            <a th:href="@{/user/logs/delete(id=${userLastFile.getId()})}" class="btn btn-danger">Delete</a>
                          </span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">User's cars</h4>
                  <!--                  <p class="card-category"> Here is a subtitle for this table</p>-->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary-table" style="text-align: center">
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >ID</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Brand</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Model</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Model type</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Production Year</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Engine type</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Engine capacity</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Engine code</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Mileage</span>
                      </th>
                      <th th:switch="${numberOfUserCars}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Actions</span>
                      </th>
                      </thead>
                      <tbody th:switch="${numberOfUserCars}">
                      <tr th:case="'0'">
                        <td th:switch="${numberOfUserCars}">
                          <h4 th:case="'0'">No added cars!</h4>
                        <td>
                      </tr>
                      <tr th:each="car,state : ${userCarList}" style="text-align: center">
                        <td th:text="${state.count}"></td>
                        <td th:text="${car.getBrand()}"></td>
                        <td th:text="${car.getModel()}"></td>
                        <td th:text="${car.getModelType()}"></td>
                        <td th:text="${car.getProductionYear()}"></td>
                        <td th:text="${car.getEngineType()}"></td>
                        <td th:text="${car.getEngineCapacity()}"></td>
                        <td th:text="${car.getEngineCode()}"></td>
                        <td th:text="${car.getMileage()}"></td>
                        <td>
                            <a th:href="@{/user/cars/edit(id=${car.getId()})}" class="btn btn-dark">Edit</a>
                            <a th:href="@{/user/cars/delete(id=${car.getId()})}" class="btn btn-danger">Delete</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
            </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap-material-design.min.js}"></script>
  <script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
</body>
</html>