<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<footer th:fragment="footer">
  <!--   Core JS Files   -->
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap-material-design.min.js}"></script>
  <script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
  <script th:src="@{/js/material-dashboard.js(v=2.1.0)}"></script>
  <script th:src="@{/js/chartist.min.js}"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</footer>
</body>
</html>