<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="adminHeader :: head"></head>
<body class="dark-edition">
<span th:replace="adminHeader :: header"></span>
      <!-- End Navbar -->
      <div class="content" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Added logs</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary-table" style="text-align: center">
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >No.</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >File name</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Uploaded Date</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Car</span>
                      </th>
                      <th th:switch="${numberOfUserFiles}">
                        <span th:case="'0'"></span>
                        <span th:case="*" >Actions</span>
                      </th>
                      </thead>
                      <tbody th:switch="${numberOfUserFiles}">
                      <tr th:case="'0'">
                        <td th:switch="${numberOfUserFiles}">
                          <h4 th:case="'0'">No uploaded files!</h4>
                        <td>
                      </tr>
                        <tr th:each="file,state: ${userFiles}" style="text-align: center">
                          <td th:text="${state.count}"></td>
                          <td th:text="${file.getFileName()}"></td>
                          <td th:text="${file.getUploadedDate()} + '  ' + ${file.getUploadedTime()}"></td>
                          <td th:with="capacity=${file.getCar().getEngineCapacity()}/1000" th:text="${file.getCar().getBrand() + ' ' + file.getCar().getModel() + ' ' + file.getCar().getModelType() + ' ' + file.getCar().getProductionYear() + ' ' + capacity + ' ' + file.getCar().getEngineType() + ' ' + file.getCar().getEngineCode()}"></td>
                          <td><a th:href="@{/admin/logs/view(id=${file.getId()})}" class="btn btn-info">View</a>
                            <a th:href="@{/admin/logs/delete(id=${file.getId()})}" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<span th:replace="footer :: footer"></span>
</body>

</html>