<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="/adminHeader :: head"></head>
<body class="dark-edition">
<span th:replace="/adminHeader :: header"></span>
      <!-- End Navbar -->
      <div class="content" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Users' logs</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary-table" style="text-align: center">
                      <th>No.</th>
                      <th>User Name</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Enabled</th>
                      <th>Role</th>
                      <th>Actions</th>
                      </thead>
                      <tbody>
                        <tr th:each="user,state: ${allUsers}" style="text-align: center">
                          <td th:text="${state.count}"></td>
                          <td th:text="${user.getName()}"></td>
                          <td th:text="${user.getFirstName()}"></td>
                          <td th:text="${user.getLastName()}"></td>
                          <td th:text="${user.getEmail()}"></td>
                          <td th:text="${user.getEnabled()}"></td>
                          <td th:text="${user.getRole().getName()}"></td>
                          <td><a th:href="@{/admin/users/edit(id=${user.getId()})}" class="btn btn-info">Edit</a>
                            <a th:href="@{/admin/users/delete(id=${user.getId()})}" class="btn btn-danger">Delete</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<span th:replace="/footer :: footer"></span>
</body>

</html>